<h1><%= @band.name %></h1>
<a class="button" href="<%=  edit_band_url(@band) %>">Edit This Band!</a><br><br>
<form action="<%= band_url %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input class="button" type="submit" value= "Delete This Band :(">
</form>